.menu_mobile {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    background: rgba(9, 9, 9, 0.75);
}

.menu_mobile.hidden {
    display: none;
}