@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --dark: #2f343a;
    --gold: #c8a35f;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

h1 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 5px;
    color: #fff;
    text-align: center;
}

h2 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-align: left;
    line-height: 123.05%;
}

p {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
    line-height: 158.2%;
}

body {
    background-color: var(--dark);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

section {
    padding: 0.75rem 0;
}

dialog {
    background: var(--dark);
    margin: auto;
    border: 1px solid #161616;
    border-radius: 0.625rem;
    box-shadow: 3px 3px 29px -5px rgba(0, 0, 0, 0.55);
    padding: 1rem;
}

dialog::backdrop {
    background: rgba(9, 9, 9, 0.55);
}

footer {
    display: flex;
    padding-block: 0.5rem;
    padding-inline: 10%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: var(--gold);
}

/* nav */
.nav {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.nav-btns {
    gap: 30px;
}

.nav-burger {
    display: none;
    width: 35px;
    height: 35px;
}

ul li {
    list-style: none;
    display: inline-block;
}

li {
    padding-left: 30px;
}

/* main */

.main_text_bg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 0;
    padding-inline: 10%;
    width: 100%;
    height: 620px;
    background-image: url(./media/MainImage.png);
    background-position: center;
    overflow: hidden;
}

.main_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15% 12%;
    border: 2px solid #c8a35f;
    padding: 2rem 1rem;
    height: fit-content;
}

/* scnd screen */

.scnd-screen {
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    min-height: 560px;
    align-items: center;
    justify-content: space-between;
}

.scnd-left {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.form-btn {
    background-color: #c8a35f;
    border-radius: 10px;
    box-shadow: rgba(252, 199, 41, 0.2) 0 -25px 18px -14px inset,
    rgba(252, 199, 41, 0.15) 0 1px 2px, rgba(252, 199, 41, 0.15) 0 2px 4px,
    rgba(252, 199, 41, 0.15) 0 4px 8px, rgba(252, 199, 41, 0.15) 0 8px 16px,
    rgba(252, 199, 41, 0.15) 0 16px 32px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 14px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.form-btn:hover {
    box-shadow: rgba(252, 199, 41, 0.35) 0 -25px 18px -14px inset,
    rgba(252, 199, 41, 0.25) 0 1px 2px, rgba(252, 199, 41, 0.25) 0 2px 4px,
    rgba(252, 199, 41, 0.25) 0 4px 8px, rgba(252, 199, 41, 0.25) 0 8px 16px,
    rgba(252, 199, 41, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

/* third screen */

.thrd-screen {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    min-height: 467px;
    justify-content: space-evenly;
    gap: 24px;
}

.service_container {
    display: flex;
    flex-direction: column;
    background-color: #393f47;
    width: 272px;
    height: 170px;
    border: 2px solid #2f343a;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.service_container > * {
    pointer-events: none;
    user-select: none;
}

.service_container:hover {
    background-color: #c8a35f;
    transition: ease-out 250ms;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.725rem;
}

.services p {
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 30px;
}

.modal_close {
    width: fit-content;
    padding: 0.5rem 2rem;
}

.modal_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.675rem;
}

/* fourth screen*/

.frth-screen {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    min-height: 488px;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
}

.about-left {
    max-width: 40%;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 160px;
    background-color: #fff;
    cursor: pointer;
}

.block:hover {
    box-shadow: rgba(252, 199, 41, 0.35) 0 -25px 18px -14px inset,
    rgba(252, 199, 41, 0.25) 0 1px 2px, rgba(252, 199, 41, 0.25) 0 2px 4px,
    rgba(252, 199, 41, 0.25) 0 4px 8px, rgba(252, 199, 41, 0.25) 0 8px 16px,
    rgba(252, 199, 41, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
    transition: all 250ms;
}

.block p {
    color: var(--dark);
}

.block h1 {
    color: var(--dark);
    letter-spacing: 0;
}

.about-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* modal window */

.modal {
    display: none;
    background: #00000077;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.modal_vis {
    display: block;
}

.body_block {
    overflow: hidden;
    margin-right: 17px;
}

#close_modal {
    color: #bfe2ff;
    font-size: 40px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
    transform: rotate(45deg);
    transition: all 0.6s;
    box-sizing: content-box;
}

#close_modal:hover {
    color: #fff;
    transform: rotate(135deg);
}

.modal_txt {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 30px;
    margin: 100px auto;
    max-width: 800px;
}

.truck-img {
    aspect-ratio: 508/589;
    height: 320px;
    object-fit: contain;
}

.about-text {
    text-align: left;
    padding: 50px 0;
    line-height: 146.5%;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    .nav {
        padding: 0 6%;
    }

    .nav-btns {
        display: none;
    }

    .nav-burger {
        display: inherit;
    }

    footer {
        padding-inline: 6%;
        flex-direction: column;
        gap: 0.75rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    p {
        font-size: 0.875rem;
    }

    .main_text {
        margin: 0;
    }

    .main_text_bg {
        padding-inline: 6%;
    }

    .truck-img {
        height: 240px;
    }

    .block {
        width: 160px;
        height: 140px;
    }

    .about-right {
        width: min-content;
    }

    .about-left {
        max-width: 60%;
    }

    .about-text {
        text-align: justify;
    }

    .about-container {
        gap: 18px;
    }

    .scnd-screen {
        flex-direction: column;
        min-height: 0;
        gap: 48px;
    }

    .scnd-left {
        max-width: 95%;
    }
}

@media screen and (max-width: 400px) {
    .nav {
        padding: 0 4%;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    p {
        font-size: 0.75rem;
    }

    .block {
        width: 130px;
        height: 105px;
    }

    .main_text {
        word-break: break-word;
    }
}
